.benefits-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .color-container {
    background-color: rgb(194, 207, 194);
  }
  &--left {
    padding: 3rem;
    // transform: translateX(50%);
  }
  &--right {
    // background-color: #7ec7ac;
    padding: 3rem;
    border-radius: 2rem;
    // transform: translateX(-50%);

    z-index: 1;
    // color: white;
    li {
      padding: 1rem;
    }
  }
}
