.footer-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #037d50;
  margin-top: 2rem;
  padding: 3rem;
  &--column {
    display: flex;
    flex-direction: column;
    h3 {
      padding: 1rem 0;
    }
    a {
      text-decoration: none;
      color: black;
      padding: 0.5rem 0;
    }
  }
}
