.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 5rem;

  &--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    color: white;
    padding: 0 2rem;
    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
    }
    .link-container {
      h3 {
        cursor: pointer;
      }
    }
  }
  &--right {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
  }
}

.layout-header {
  background: linear-gradient(to right, #037d50 50%, white 50%);
}
.other-header {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  .header--left {
    a {
      color: #037d50;
    }
  }
}
