.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-lg;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    background: $color-bg-light;
    padding: $space-xl;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  &__title {
    font-size: fluid-size(1.5, 2);
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
  }

  &__label {
    font-size: fluid-size(1, 1.125);
    font-weight: 600;
  }

  &__input {
    padding: $space-sm;
    border: 1px solid $color-text-dark;
    border-radius: 4px;
  }
}
