.reviews-slider-container {
  max-width: 70vw;
  margin: 5rem auto;
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  .reviews-slider {
    overflow: hidden;
    &-inner {
      display: flex;
      transition: transform 0.5s ease-in-out;
      .review {
        flex: 0 0 100%;
        box-sizing: border-box;
      }
    }
  }
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    button {
      border: none;
      padding: 1rem 2rem;
      font-size: 1em;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        background-color: #282c34;
        color: white;
      }
    }
  }
}
