.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 1200px;
  margin: 30px auto;
  background-color: $color-bg-light;
  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: $color-primary;
  }

  &__section {
    width: 100%;
    max-width: 900px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: $color-accent;
    border-radius: 8px;
    box-shadow: $shadow-light;

    &-title {
      font-size: 1.5rem;
      margin-bottom: 15px;
      font-weight: bold;
      text-align: center;
      color: $color-primary;
    }

    &-description {
      font-size: 1rem;
      margin-bottom: 10px;
      text-align: center;
      color: $color-text-dark;
    }

    &-list {
      list-style-type: none;
      padding-left: 0;
      text-align: left;

      li {
        margin-bottom: 8px;
      }
    }
  }

  .faq {
    &__item {
      margin-bottom: 20px;

      &-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 8px;
        color: $color-primary;
      }

      &-description {
        font-size: 1rem;
        color: $color-text-dark;
      }
    }
  }

  &__contact-link {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      color: $color-primary-dark;
      text-decoration: underline;
    }
  }

  &__contact-text {
    font-size: 1rem;
    color: $color-text-dark;
  }

  &__resources-link {
    color: $color-secondary;
    text-decoration: none;

    &:hover {
      color: $color-accent-dark;
      text-decoration: underline;
    }
  }

  &__resources-list {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-bottom: 8px;
    }
  }

  // Buttons and Links
  .btn {
    background-color: $color-primary;
    color: $color-text-light;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: $shadow-light;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}
