// primary colors
$color-primary: #5a3e2b; // btns and heading
$color-primary-dark: #3e2a1f; // hover
$color-primary-light: #8b6f5e; // light version bck

// sec
$color-secondary: #c69c6d;
$color-accent: #e6d7b9; // banner. bck
$color-accent-dark: #b89a7c; // accent

// text
$color-text-dark: #2e2e2e; // primary text
$color-text-light: #ffffff; // text for btns and dark bck

// backgrounds
$color-bg-light: #fdf8f2; // Off-white
$color-bg-dark: #1e1e1e; // Dark Mode

// Status
$color-success: #2f855a; // success
$color-error: #c53030; // errors
$color-warning: #d69e2e; // warnings

// shadows
$shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
$shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.3);
